@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --darkestblue:  #293264;
    --darkerblue: #4D5B9E;
    --blue: #4D5B9E;
    --lightblue: #E0EBF7;
    --background: #F5F7FB;
    --green: #94D7A2;
    --red: #F8BCBC;
}
body{
    font-family: 'Inter', sans-serif;
}