html{
  background-color: var(--background);
}
body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --darkblue:  #293264;
    --blue: #4D5B9E;
    --lightblue: #E0EBF7;
    --background: #F5F7FB;
    --green: #94D7A2;
    --red: #F8BCBC;
}
body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
}